<div class="container">
  <form [formGroup]="addUpdateForm" (ngSubmit)="onSubmit()">
    <div class="item-input">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Item</mat-label>
        <input
          type="text"
          matInput
          formControlName="item"
          placeholder="Ex. Maggi"
        />

        <mat-error *ngIf="formControls.item.errors?.required">
          Item is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="rate-input">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Rate</mat-label>
        <input
          type="text"
          matInput
          formControlName="taxRate"
          placeholder="Ex. 2"
        />

        <mat-error *ngIf="formControls.taxRate.errors?.required">
          Rate is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="add-button">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!addUpdateForm.valid"
      >
        {{ buttonType }}
      </button>
    </div>
  </form>
</div>
